
{{> head}}

    {{> navbar}}

    <div class="container">

        <div class="row">

            <div class="col-6">
                <h1>Shiba LINDO</h1>
                <p>Los Shiba son bonitos</p>
            </div>
            
            <div class="col-6">
                <img src="../public/assets/img/cute_shiba.jpg" class="img-thumbnail">
            </div>

        </div>

    </div>

    {{> footer}}